<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Titanic</title>


</head>
<body>
<h1>WELCOME TO TITANIC MACHINE LEARNING MODEL</h1>
<h1> checking git push and pull</h1>
<h3>Get Your Predictions</h3>
<p>Please Enter Your Passenger Values</P>
<p>This is New passage</P>
<form action= "{% url 'result' %}">

    {% csrf_token %}
    <label>Pclass
    <input type="text" name="pclass">
   </label>
    <label>Sex
    <input type="text" name="sex">
</label>
    <label>Age
    <input type="text" name="age">
        </label>
    <label>Sibsp
    <input type="text" name="sibsp">
        </label>
    <lable>Parch
        <label>
            <input type="text" name="parch">
        </label>
    </lable>
    <label>Fare</label>
    <label>
        <input type="text" name="fare">
    </label>
    <label>Embarked
    <input type="text" name="embarked">
        </label>
    <label>Title
    <input type="text" name="title"></label>
    <br>
    <input type="submit" class="button">

</form>
</body>
</html>