{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Titanic</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

</head>

<body style="background-color: aqua">

    <div class="container-fluid">
        <div class="jumbotron" style="background-color: slateblue">
            <h1 class="display-3">Machine Learning</h1>
            <p class="lead">For Beginner To Get The Feel Of Real World Problem</p>
            <hr class="my-2">
            <p>More info</p>
        </div>

        <div class="jumbotron jumbotron-fluid" style="background-color: #9fcdff" >
            <div class="container">
                <h1 class="display-4">ABOUT</h1>
                <p class="lead"> The sinking of the Titanic is one of the most infamous shipwrecks in history. On April 15, 1912, during her maiden voyage, the widely considered “unsinkable” RMS Titanic sank after colliding with an iceberg. Unfortunately, there weren’t
                    enough lifeboats for everyone onboard, resulting in the death of 1502 out of 2224 passengers and crew. While there was some element of luck involved in surviving, it seems some groups of people were more likely to survive than others.</p>
                <p class="lead">Kaggle, a subsidiary of Google LLC, is an online community of data scientists and machine learning practitioners. Kaggle allows users to find and publish data sets, explore and build models in a web-based data-science environment, work
                    with other data scientists and machine learning engineers, and enter competitions t o solve data science challenges.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Features
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Pclass (Ticket class): 1=1st,2=2nd,3=3rd</li>
                        <li class="list-group-item">Sex: 0=male,1=female</li>
                        <li class="list-group-item">Age:less than 16=0 greater than 16=1 greater than 32=2 greater than 48=3</li>
                        <li class="list-group-item">Sibsp(# of siblings / spouses aboard the Titanic)</li>
                        <li class="list-group-item">Parch</li>
                        <li class="list-group-item">Fare:0,1,2,3</li>
                        <li class="list-group-item">Embarked:1,2,3</li>
                        <li class="list-group-item">Title:1,2,3,4</li>

                    </ul>
                </div>
            </div>
            <div class="col-9">
                <div class="card-header">
                    Predict The Servival Of Titanic Tragedy
                </div>
                <form action="{% url 'result' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="pclass" name="pclass">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="sex" name="sex">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="age" name="age">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="sibsp" name="sibsp">
                        </div>
                    </div><br>
                    <br>
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Parch" name="parch">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="fare" name="fare">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="embarked" name="embarked">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="title" name="title">
                        </div>

                    </div><br>
                    <input class="btn btn-secondary btn-lg float-right" type="submit" value="Predict">

                </form>
                <h3>MODEL USED FOR TRANING IS RANDOM FOREST CLASSIFICATION</h3>
                <h2>Accuracy score:86.76%</h2>
            </div>
        </div>
        <footer>

      <p>&copy; company name Website 2020. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#">Privacy</a>
        </li>
        <li class="list-inline-item">
          <a href="#">Terms</a>
        </li>
        <li class="list-inline-item">
          <a href="#">FAQ</a>
        </li>
      </ul>
  </footer>

    </div>
</body>

</html>